.Joke {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-collapse: collapse;
}

.Joke--rating_container {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.Joke--icon {
  font-size: 16px;
  color: #424242;
  cursor: pointer;
}

.Joke--rating {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 12px;
  border: 2px solid #424242;
  margin: 0px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Joke--description {
  padding: 10px 40px;
}

.Joke--laugh_scale {
  font-size: 50px;
  color: #424242;
}

.Joke--green {
  border-color: #99ccbb;
  color: #99ccbb;
}

.Joke--red {
  border-color: #ff8899;
  color: #ff8899;
}

.Joke--yellow {
  border-color: #ffdd66;
  color: #ffdd66;
}
