.JokeList {
  display: flex;
  min-height: 100%;
  height: 100%;
  max-width: 100%;
}
.JokeList--inner_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.JokeList--jokes {
  width: 50%;
  overflow-y: scroll;
  height: 100vh;
  position: relative;
}

.JokeList--panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(179, 117, 250, 0.5);
}

.JokeList--heading {
  font-size: 80px;
  color: #ffffff;
  margin-bottom: 80px;
  text-shadow: 1px 5px rgba(33, 33, 33, 0.4);
}

.JokeList--button {
  border: none;
  padding: 20px 45px;
  border-radius: 30px;
  font-size: 20px;
  color: #ffffff;
  background: rgba(179, 117, 250, 0.8);
  box-shadow: 1px 5px 8px rgba(33, 33, 33, 0.4);
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}

.JokeList--loader {
  border-radius: 50%;
  position: fixed;
  top: 50%;
  right: 25%;
}

.JokeList--loader {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.JokeList--loader div {
  transform-origin: 32px 32px;
  animation: JokeList--loader 1.2s linear infinite;
}
.JokeList--loader div:after {
  content: " ";
  display: block;
  position: absolute;
  top: -27px;
  left: 29px;
  width: 8px;
  height: 38px;
  border-radius: 20%;
  background: rgba(179, 117, 250, 1);
}
.JokeList--loader div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.JokeList--loader div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.JokeList--loader div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.JokeList--loader div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.JokeList--loader div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.JokeList--loader div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.JokeList--loader div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.JokeList--loader div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.JokeList--loader div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.JokeList--loader div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.JokeList--loader div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.JokeList--loader div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes JokeList--loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
