.JokeList {
  display: flex;
  min-height: 100%;
  height: 100%;
  max-width: 100%;
}
.JokeList--inner_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.JokeList--jokes {
  width: 50%;
}

.JokeList--panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(179, 117, 250, 0.5);
}

.JokeList--heading {
  font-size: 80px;
  color: #ffffff;
  margin-bottom: 80px;
  text-shadow: 1px 5px rgba(33, 33, 33, 0.4);
}

.JokeList--button {
  border: none;
  padding: 20px 45px;
  border-radius: 30px;
  font-size: 20px;
  color: #ffffff;
  background: rgba(179, 117, 250, 0.8);
  box-shadow: 1px 5px 8px rgba(33, 33, 33, 0.4);
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}
